<div class="container-fluid">
    <div>
        <br />
        <a class="btn btn-primary text-center" href="~/Usuario/Add/0">Agregar</a>
    </div>
    <br />
    <!-- DataTables Example -->
    <div class="card-body text-xl-center bg-primary"> Usuarios</div>
    <div class="card-body bg-dark">
        <div class="table table-responsive text-primary">
            <table class="table-dark" id="dataTable">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Contraseña</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                    <tr>
                        <td>enrique</td>
                        <td>12345</td>
                        <td>Enrique</td>
                        <td>Canchola</td>
                        <td>Zacarias</td>
                        <td>canc@kdkd.com</td>
                        <td>2344</td>
                        <td><a href="@Url.Action("Add", "Usuario", new { id=1 })" class="btn btn-primary"><i class="fa fa-pen"></i></a></td>
                        <td><a onclick="Delete(1)" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                    </tr>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
