
@{
    ViewData["Title"] = "Publicar";
}

<h2>Publicar Aviso</h2>

<div class="container">

    <div class="row">
        <form>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Puesto o titulo de la vacante:</label>
                    <input type="text" class="form-control" id="" placeholder="Puesto o titulo de la vacante">
                </div>

                <div class="form-group">
                    <label>Cantidad de vacante:</label>
                    <input type="number" class="form-control" id="" placeholder="Puesto o titulo de la vacante">
                </div>


                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <button class="btn btn-danger" type="reset">Canselar</button>
                </div>
            </div>


            

        </form>


    </div>
</div>
