
@{
    ViewData["Title"] = "Registro_Personal_RH";
}

<h2>Registro Personal RH</h2>

<div class="container">
    <div class="row">
        <form>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Apellido:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Nombre Compañia:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>

            <div class="container">

                <div class="form-group">
                    <label>Dirección Empresa:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Estado:</label>
                    <select id="" class="form-control">
                        <option selected>Selecciona una Estado...</option>
                        <option>Ecatepec</option>
                    </select>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Localidad:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Codigo Postal:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Teléfono:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>RFC:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                    <label>Password:</label>
                    <input type="text" class="form-control" id="" placeholder="Nombre">
                </div>

            </div>

            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <button class="btn btn-danger" type="reset">Canselar</button>
                </div>
            </div>



        </form>

        </div>
    </div>


